In [1]:
import json
 
f = open('car.json') 
data = json.load(f)
 
for i in data:
    print(i)

{'car': {'make': 'Ford', 'car_details': {'model': 'Fiesta', 'mileage': 15000, 'color': 'yellow', 'value': 20000}}}
{'car': {'make': 'Dodge', 'car_details': {'model': 'Viper', 'mileage': 30000, 'color': 'yellow', 'value': 30000}}}
{'car': {'make': 'Ford', 'car_details': {'model': 'Fiesta', 'mileage': 15000, 'color': 'blue', 'value': 20000}}}
{'car': {'make': 'Random', 'car_details': {'model': 'Temper', 'mileage': 25000, 'color': 'blue', 'value': 20000}}}

In [2]:
list=[]


            
for i in data:
    
    for m,v in i.items():
        make=v['make']
        x=v['car_details']
        
        
        model=x['model']
        mileage=x['mileage']
        color=x['color']
        value=x['value']
        list.append([make,model,mileage,color,value])    
            
list

[['Ford', 'Fiesta', 15000, 'yellow', 20000],
 ['Dodge', 'Viper', 30000, 'yellow', 30000],
 ['Ford', 'Fiesta', 15000, 'blue', 20000],
 ['Random', 'Temper', 25000, 'blue', 20000]]

In [3]:
import pandas as pd
df = pd.DataFrame(list,columns =['car','model','mileage','color','value'])

In [4]:
df

      car   model  mileage   color  value
0    Ford  Fiesta    15000  yellow  20000
1   Dodge   Viper    30000  yellow  30000
2    Ford  Fiesta    15000    blue  20000
3  Random  Temper    25000    blue  20000

#### 1. How many ford cars were sold.

In [5]:
df['car'].value_counts()

Ford      2
Dodge     1
Random    1
Name: car, dtype: int64

In [38]:
x=df[df['car']=='Ford']
y=x['car'].value_counts()
print('Number of ford cars were sold : ',y)

Number of ford cars were sold :  Ford    2
Name: car, dtype: int64

#### 2. Get the total value of Ford cars sold.

In [39]:

x=df[df['car']=='Ford']
y=x['value'].sum()
print('total value of Ford cars sold : ',y)

total value of Ford cars sold :  40000

#### 3. Get Total value of car whose color is blue.

In [16]:
df[df['color']=='blue'].sum()

car          FordRandom
model      FiestaTemper
mileage           40000
color          blueblue
value             40000
dtype: object

In [40]:
x=df[df['color']=='blue']
y=x['value'].sum()
print('Total value of car whose color is blue',y)

Total value of car whose color is blue 40000

#### 4. Make a list of car models whose mileage is greater than 20000.

In [18]:
x=df[df['mileage']>20000]

In [24]:
y=x['model']

In [25]:
l=[]
for i in y:
    l.append(i)
l

['Viper', 'Temper']

In [ ]:
models=milege['Model'].values.tolist()
models
models=[]
milege = Cr_data[Cr_data['Milege'] > 20000]

models.append(milege['Model'])