In [1]:
import pymysql
  

myconn = pymysql.connect(host = "localhost", user = "root",passwd = "sweety110", database='lms', autocommit = True, charset = 'utf8mb4', cursorclass = pymysql.cursors.DictCursor)

cursor = myconn.cursor()

In [1]:
import pandas as pd

data = {'eid': ['e4','e5','e6','e7'],
        'ename': ['bittu mondal','riya barman','snehasish mondal','arnab biswas'],
        'salary': [49000,25000,60000,12000]
        }

df = pd.DataFrame(data, columns= ['eid','ename','salary'])
print (df)

  eid             ename  salary
0  e4      bittu mondal   49000
1  e5       riya barman   25000
2  e6  snehasish mondal   60000
3  e7      arnab biswas   12000

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

In [4]:
c.execute('CREATE TABLE IF NOT EXISTS employee (eid varchar(10) primary key,ename varchar(100),salary int)')
conn.commit()

In [9]:
df.to_sql('employee', conn, if_exists='replace', index = False)

In [10]:
c.execute('''  
SELECT * FROM employee
          ''')

for row in c.fetchall():
    print (row)

('e4', 'bittu mondal', 49000)
('e5', 'riya barman', 25000)
('e6', 'snehasish mondal', 60000)
('e7', 'arnab biswas', 12000)

In [16]:
import pandas as pd
from sqlalchemy import create_engine



db_uri = 'sqlite:///file.db'
engine = create_engine(db_uri, echo=False)

sample_sql_database = df.to_sql('employee', con=engine)

sample_sql_database = engine.execute("SELECT * FROM employee").fetchall()

print(sample_sql_database)

[(0, 'e4', 'bittu mondal', 49000), (1, 'e5', 'riya barman', 25000), (2, 'e6', 'snehasish mondal', 60000), (3, 'e7', 'arnab biswas', 12000)]

In [2]:
import pandas as pd
df=pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [5]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:sweety110@localhost:3306/sweety', echo=False)

try:
    
    df.to_sql(name='customer',con=engine,index=False, if_exists='replace')
    print('Sucessfully written to Database!!!')

except Exception as e:
    
    print(e)

Sucessfully written to Database!!!

In [11]:
sql = "select * from customer"
cursor.execute(sql)

rows = cursor.fetchall()

print(rows)

()

In [10]:
#sql="select * from customer where education = 'PG'"

cursor.execute('''select * from customer where education = 'PG';''')
#cursor.execute(sql)

rows = cursor.fetchall()

print(rows)

()

In [3]:


df.to_sql('customer', myconn, if_exists='replace', index = False)
myconn.commit()

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [2]:
import sqlite3
conn = sqlite3.connect('sweety')
# c = conn.cursor()

# #c.execute('CREATE TABLE IF NOT EXISTS customer (age int,gender varchar(50),review varchar(50),education varchar(50),purchased varchar(50))')
# conn.commit()

df.to_sql('customer', conn, if_exists='replace', index = False)
conn.commit()

In [4]:
sql = "select * from customer"
conn.execute(sql)

rows = conn.fetchall()

print(rows)
val=rows

AttributeError: 'sqlite3.Connection' object has no attribute 'fetchall'

In [23]:
c.execute('''  
SELECT * FROM customer
          ''')

for row in c.fetchall():
    print (row)

(30, 'Female', 'Average', 'School', 'No')
(68, 'Female', 'Poor', 'UG', 'No')
(70, 'Female', 'Good', 'PG', 'No')
(72, 'Female', 'Good', 'PG', 'No')
(16, 'Female', 'Average', 'UG', 'No')
(31, 'Female', 'Average', 'School', 'Yes')
(18, 'Male', 'Good', 'School', 'No')
(60, 'Female', 'Poor', 'School', 'Yes')
(65, 'Female', 'Average', 'UG', 'No')
(74, 'Male', 'Good', 'UG', 'Yes')
(98, 'Female', 'Good', 'UG', 'Yes')
(74, 'Male', 'Good', 'UG', 'Yes')
(51, 'Male', 'Poor', 'School', 'No')
(57, 'Female', 'Average', 'School', 'No')
(15, 'Male', 'Poor', 'PG', 'Yes')
(75, 'Male', 'Poor', 'UG', 'No')
(59, 'Male', 'Poor', 'UG', 'Yes')
(22, 'Female', 'Poor', 'UG', 'Yes')
(19, 'Male', 'Good', 'School', 'No')
(97, 'Male', 'Poor', 'PG', 'Yes')
(57, 'Female', 'Average', 'School', 'Yes')
(32, 'Male', 'Average', 'PG', 'No')
(18, 'Female', 'Poor', 'PG', 'Yes')
(96, 'Female', 'Good', 'School', 'No')
(16, 'Female', 'Average', 'PG', 'Yes')
(57, 'Female', 'Good', 'School', 'No')
(53, 'Female', 'Poor', 'PG', 'No')
(69, 'Female', 'Poor', 'PG', 'No')
(48, 'Male', 'Poor', 'School', 'No')
(83, 'Female', 'Average', 'UG', 'Yes')
(73, 'Male', 'Average', 'UG', 'No')
(22, 'Female', 'Poor', 'School', 'Yes')
(92, 'Male', 'Average', 'UG', 'Yes')
(89, 'Female', 'Good', 'PG', 'Yes')
(86, 'Male', 'Average', 'School', 'No')
(74, 'Male', 'Poor', 'School', 'Yes')
(34, 'Female', 'Good', 'UG', 'Yes')
(94, 'Male', 'Average', 'PG', 'Yes')
(45, 'Female', 'Good', 'School', 'No')
(76, 'Male', 'Poor', 'PG', 'No')
(39, 'Male', 'Good', 'School', 'No')
(23, 'Male', 'Good', 'PG', 'Yes')
(30, 'Female', 'Good', 'PG', 'Yes')
(27, 'Male', 'Poor', 'PG', 'No')
(77, 'Female', 'Average', 'UG', 'No')
(61, 'Male', 'Poor', 'PG', 'Yes')
(64, 'Female', 'Poor', 'PG', 'No')
(38, 'Female', 'Good', 'PG', 'Yes')
(39, 'Female', 'Good', 'UG', 'Yes')
(25, 'Female', 'Good', 'UG', 'No')

In [15]:
sql = "INSERT INTO customer (age,gender,review,education,purchased) VALUES (%s, %s, %s, %s, %s)"

val=rows
c.executemany(sql, val)

conn.commit()

print(cursor.rowcount, "was inserted.")

OperationalError: near "%": syntax error

In [12]:
val=rows

In [13]:
val

[(30, 'Female', 'Average', 'School', 'No'),
 (68, 'Female', 'Poor', 'UG', 'No'),
 (70, 'Female', 'Good', 'PG', 'No'),
 (72, 'Female', 'Good', 'PG', 'No'),
 (16, 'Female', 'Average', 'UG', 'No'),
 (31, 'Female', 'Average', 'School', 'Yes'),
 (18, 'Male', 'Good', 'School', 'No'),
 (60, 'Female', 'Poor', 'School', 'Yes'),
 (65, 'Female', 'Average', 'UG', 'No'),
 (74, 'Male', 'Good', 'UG', 'Yes'),
 (98, 'Female', 'Good', 'UG', 'Yes'),
 (74, 'Male', 'Good', 'UG', 'Yes'),
 (51, 'Male', 'Poor', 'School', 'No'),
 (57, 'Female', 'Average', 'School', 'No'),
 (15, 'Male', 'Poor', 'PG', 'Yes'),
 (75, 'Male', 'Poor', 'UG', 'No'),
 (59, 'Male', 'Poor', 'UG', 'Yes'),
 (22, 'Female', 'Poor', 'UG', 'Yes'),
 (19, 'Male', 'Good', 'School', 'No'),
 (97, 'Male', 'Poor', 'PG', 'Yes'),
 (57, 'Female', 'Average', 'School', 'Yes'),
 (32, 'Male', 'Average', 'PG', 'No'),
 (18, 'Female', 'Poor', 'PG', 'Yes'),
 (96, 'Female', 'Good', 'School', 'No'),
 (16, 'Female', 'Average', 'PG', 'Yes'),
 (57, 'Female', 'Good', 'School', 'No'),
 (53, 'Female', 'Poor', 'PG', 'No'),
 (69, 'Female', 'Poor', 'PG', 'No'),
 (48, 'Male', 'Poor', 'School', 'No'),
 (83, 'Female', 'Average', 'UG', 'Yes'),
 (73, 'Male', 'Average', 'UG', 'No'),
 (22, 'Female', 'Poor', 'School', 'Yes'),
 (92, 'Male', 'Average', 'UG', 'Yes'),
 (89, 'Female', 'Good', 'PG', 'Yes'),
 (86, 'Male', 'Average', 'School', 'No'),
 (74, 'Male', 'Poor', 'School', 'Yes'),
 (34, 'Female', 'Good', 'UG', 'Yes'),
 (94, 'Male', 'Average', 'PG', 'Yes'),
 (45, 'Female', 'Good', 'School', 'No'),
 (76, 'Male', 'Poor', 'PG', 'No'),
 (39, 'Male', 'Good', 'School', 'No'),
 (23, 'Male', 'Good', 'PG', 'Yes'),
 (30, 'Female', 'Good', 'PG', 'Yes'),
 (27, 'Male', 'Poor', 'PG', 'No'),
 (77, 'Female', 'Average', 'UG', 'No'),
 (61, 'Male', 'Poor', 'PG', 'Yes'),
 (64, 'Female', 'Poor', 'PG', 'No'),
 (38, 'Female', 'Good', 'PG', 'Yes'),
 (39, 'Female', 'Good', 'UG', 'Yes'),
 (25, 'Female', 'Good', 'UG', 'No')]