In [9]:
import pymysql
  

myconn = pymysql.connect(host = "localhost", user = "root",passwd = "sweety110", database='lms', autocommit = True, charset = 'utf8mb4', cursorclass = pymysql.cursors.DictCursor)

cursor = myconn.cursor()

In [10]:
sql = "select * from employee"
cursor.execute(sql)

rows = cursor.fetchall()

print(rows)

()

In [11]:
sql = "desc employee"
cursor.execute(sql)

rows = cursor.fetchall()

print(rows)

[{'Field': 'eid', 'Type': 'varchar(10)', 'Null': 'NO', 'Key': 'PRI', 'Default': None, 'Extra': ''}, {'Field': 'ename', 'Type': 'varchar(100)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'salary', 'Type': 'int', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}]

In [13]:
sql = "insert into employee (eid,ename,salary) values (%s, %s,%s)"
val = ("e1","sweety biswas", 5000)
cursor.execute(sql, val)

myconn.commit()

print(cursor.rowcount, "record inserted.")

1 record inserted.

In [14]:
sql = "select * from employee"
cursor.execute(sql)

rows = cursor.fetchall()

print(rows)

[{'eid': 'e1', 'ename': 'sweety biswas', 'salary': 5000}]

In [18]:
sql = "INSERT INTO employee (eid,ename,salary) VALUES (%s, %s, %s)"
val = [
  ('e2', 'pamela dey',4000),
  ('e3', 'manti biswas',50000)
]

cursor.executemany(sql, val)

myconn.commit()

print(cursor.rowcount, "was inserted.")

2 was inserted.

In [ ]:
import pandas as pd

data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,450,150]
        }

df = pd.DataFrame(data, columns= ['product_name','price'])
print (df)